<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="logPath" value="..\..\Logs\"/>
  <variable name="logFormat" value="${date:format=yyyy-MM-dd HH\:mm\:ss.ffff} [${logger}].[${level}] ${message} ${exception:format=tostring}" />
  <variable name="logFormatThreadNum" value="${date:format=yyyy-MM-dd HH\:mm\:ss.ffff} [${threadid}] [${logger}].[${level}] ${message} ${exception:format=tostring}" />

  <targets>
    <target xsi:type="Console" name="console" layout="${logFormat}" />
    <target xsi:type="File"
            name ="loggerShortNameFile"
            fileName="${logPath}${logger:shortName=true}.log"
            layout="${logFormat}"
            keepFileOpen="false"
            concurrentWrites="true"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="5" />
    <target xsi:type="File"
            name ="quartzFile"
            fileName="${logPath}quartz.log"
            layout="${logFormat}"
            keepFileOpen="false"
            concurrentWrites="true"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="5" />
    <target xsi:type="File"
            name ="other"
            fileName="${logPath}other.log"
            layout="${logFormat}"
            keepFileOpen="false"
            concurrentWrites="true"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="5">
    </target>
  </targets>

  <rules>
    <logger name ="EvolutionScraper*" minlevel="Trace" writeTo="loggerShortNameFile" final="true" />
    <logger name ="Quartz.*" minlevel="Trace" writeTo="quartzFile, console" final="true" />
    <logger name="*" minlevel="Trace" writeTo="other" />
  </rules>
</nlog>