<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <variable name="logPath" value="..\Logs\"/>
  <variable name="logFormat" value="${date:format=yyyy-MM-dd HH\:mm\:ss.ffff} [${logger}].[${level}] ${message} ${exception:format=tostring} "/>
  <variable name="consoleFormat" value="${message} ${exception:format=Message} "/>

  <!-- the targets to write to -->
  <targets>

    <target name="console" xsi:type="Console" layout="${consoleFormat}" />

    <target
      xsi:type="File"
      name ="main"
      fileName="${logPath}main_${longdate:cached=true}.log"
      layout="${logFormat}"
      keepFileOpen="true"
      concurrentWrites="true"
      archiveEvery="Day"
      archiveNumbering="Rolling"
      maxArchiveFiles="7" />

  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="console, main" />
  </rules>
</nlog>